html, body {
  background: #333333;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
.ipod-body {
  background: #1FA2FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  width: 250px;
  height: 240px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 344ms ease-in-out;
}
#btn-power-switch {
  position: absolute;
  right: 5px;
}
#btn-power-switch, 
#btn-voice-over {
  width: 20px;
  height: 5px;
  background: #b2b2b2;
  border-radius: 2px 2px 0 0;
  display: inline-block;
  margin: 10px 15px 10px 15px;
  position: relative;
  top: -15px;
  float: right;
}
.ipod-player {
  background: #121413;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa {
  color: #fff;
  cursor: pointer;
}
.fa-plus {
  position: absolute;
  top: 5%;
  left: 47%;
}
.fa-fast-forward {
  position: absolute; 
  top: 46%;
  right: 5%;
}
.fa-fast-backward {
  position: absolute; 
  top: 46%;
  left: 5%;
}
.fa-minus {
 position: absolute;  
 top: 87%;
 left: 48%;
}
.control-pad {
  background: #d8dad9;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 250ms ease-in-out;
}
.fa-play {
  color: #121413;
  position: absolute;
  top: 45%;
  left: 38%;
}
.fa-pause {
  color: #121413;
  position: absolute;
  top: 45%;
  left: 52%;
}
.color-container {
  position: absolute;
  top: 80%;
  width: 100%;
}
.color-selector>.colors {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px 5px;
  transition: ease .3s;
  border:  transparent ;
}
.colors:hover {
  transform: scale(1.3);
}
#pur {
  background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#vp {
  background: #948E99;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2E1437, #948E99);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2E1437, #948E99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#ob {
  background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#rb {
  background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#yw {
  background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#bl{

background: #0052D4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.mm
{
  margin-left:-389px;

}


@media screen and (max-width: 920px) {
  


.color-container{


margin-left:-100px;

}



}



@media screen and (max-width: 420px) {
  


.color-container{


margin-left:-25px;

}



}




